@import "_fonts";
@import "_default";
@import "_theme";

/* mobile first css */
/* nav section styles start */
.nav-container{
    header{
        display: flex;
        justify-content: space-between;
        padding: 2em;
    
        .logo{
            font-weight: bold;
        }
    
        ul{
            display: flex;
    
            li a{
                display: block;
                padding: 0 1em;
            }
        }
    }
    .social-header{
        display: none;
    }
}
/* nav section styles end */
/* hero section styles start */
.hero{
    display: grid;
    text-align: center;
    padding: 4em;

    .hero-design{
        display: none;
    }

    .meet{
        display: flex;
        justify-content: center;
        font-weight: bold;
        
        span{
            margin-top: 1em;
            margin-right: .5em;
        }
    }

    .scroll{
        width: 30px;
        margin-top: 2em;
    }
}
/* hero section styles end */
/* mobile first css */