{% include "header.html" %}
<!-- ======= Hero Section ======= -->
<div id="hero" class="hero route bg-image" style="background-image: url({{ url_for('static', filename='img/hero-bg.jpg') }});">
<div class="overlay-itro"></div>
<div class="hero-content display-table">
  <div class="table-cell">
    <div class="container">
      <!--<p class="display-6 color-d">Hello, world!</p>-->
      <h1 class="hero-title mb-4">I am Nadun Nissanka</h1>
      <p class="hero-subtitle"><span class="typed" data-typed-items="UX Designer, Software Engineer, Computer Vision Researcher"></span></p>
      <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p>
    </div>
  </div>
</div>
</div><!-- End Hero Section -->
<main id="main">
  <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="static/img/testimonial-2.jpg" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span>Nadun Nissanka</span></p>
                        <p><span class="title-s">Profile: </span> <span>Computer Science Student</span></p>
                        <p><span class="title-s">Email: </span> <span>nadunnissankauiux@gmail.com</span></p>
                        <p><span class="title-s">Phone: </span> <span>070 392 5064 / 011 2745277</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Skill</p>
                    <span class="p-lang">Python + Web Dev</span> <span class="pull-right">Excellent Knowledge</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="p-lang">HTML & CSS(SCSS)</span> <span class="pull-right">Excellent Knowledge</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 86%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="p-lang">Deep Learning & Computer Vision</span> <span class="pull-right">Satisfactory Knowledge</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="p-lang">IOS Development</span> <span class="pull-right">Good Knowledge</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="p-lang">User Experience</span> <span class="pull-right">Professional Knowledge (1 year Industry Experience)</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>
                    <p class="lead">
                      Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id
                      imperdiet et, porttitor
                      at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla
                      porttitor accumsan tincidunt.
                    </p>
                    <p class="lead">
                      Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis
                      porttitor volutpat. Vestibulum
                      ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
                    </p>
                    <p class="lead">
                      Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                      Nulla porttitor accumsan
                      tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
</main>


{% include "footer.html" %}